# Cargo stuff
target
cache
**/*.rs.bk

# Local stuff
*doc*
*musl*
src/other
docker
json
archive
a_src
txt
test
img/*
*.sql
*.txt
*.jpg
*.gif
*.png
*.json
*.zip
*.7z
*.log
*.sh
*cloudflare*
*cache*
*build*
justfile
changes.log
!ena_config.json
!img/demo.gif
