# Cargo stuff
target
cache
**/*.rs.bk
Cargo.lock

# Local stuff
src/hex.rs
docker
json
archive
a_src
txt
test
img/*
*.sql
*.txt
*.jpg
*.gif
*.png
*.json
*.zip
*.7z
*m*.rs
*.log
justfile
changes.log
ena_config.json
!img/yotsuba-and-ena.png
